fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart
pydantic
joblib
scikit-learn
geoalchemy2
groq
transformers
torch
huggingface_hub
